@for $i from 0 through 100 {
  .opacity-#{$i} {
    opacity: $i * 0.1;
  }
}
.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}


.hidden, .hide {
  display: none;
}

.show {
  display: block;
}

.show-in-max, .hide-in-min {
  &-mobile-xs,
  &-mobile-xs-inline,
  &-mobile-xs-inline-block,
  &-mobile-md,
  &-mobile-md-inline,
  &-mobile-md-inline-block,
  &-mobile-lg,
  &-mobile-lg-inline,
  &-mobile-lg-inline-block,
  &-mobile-xl,
  &-mobile-xl-inline,
  &-mobile-xl-inline-block,
  &-mobile-xlg,
  &-mobile-xlg-inline,
  &-mobile-xlg-inline-block,
  &-tablet-xs,
  &-tablet-xs-inline,
  &-tablet-xs-inline-block,
  &-tablet-sm,
  &-tablet-sm-inline,
  &-tablet-sm-inline-block,
  &-tablet-md,
  &-tablet-md-inline,
  &-tablet-md-inline-block,
  &-tablet-lg,
  &-tablet-lg-inline,
  &-tablet-lg-inline-block,
  &-tablet-xlg,
  &-tablet-xlg-inline,
  &-tablet-xlg-inline-block,
  &-laptop-xs,
  &-laptop-xs-inline,
  &-laptop-xs-inline-block,
  &-laptop-md,
  &-laptop-md-inline,
  &-laptop-md-inline-block,
  &-laptop-lg,
  &-laptop-lg-inline,
  &-laptop-lg-inline-block {
    display: none !important;
  }
}

.show-in-max {
  @include max-laptop-xlg {
    &-laptop-xlg {
      display: block !important;
    }
    &-laptop-xlg-inline {
      display: inline;
    }
    &-laptop-xlg-inline-block {
      display: inline-block;
    }
  }
  @include max-laptop-lg {
    &-laptop-lg {
      display: block !important;
    }
    &-laptop-lg-inline {
      display: inline;
    }
    &-laptop-lg-inline-block {
      display: inline-block;
    }
  }
  @include max-laptop-md {
    &-laptop-md {
      display: block !important;
    }
    &-laptop-md-inline {
      display: inline;
    }
    &-laptop-md-inline-block {
      display: inline-block;
    }
  }
  @include max-laptop-xs {
    &-laptop-xs {
      display: block !important;
    }
    &-laptop-xs-inline {
      display: inline;
    }
    &-laptop-xs-inline-block {
      display: inline-block;
    }
  }

  @include max-tablet-xlg {
    &-tablet-xlg {
      display: block !important;
    }
    &-tablet-xlg-inline {
      display: inline;
    }
    &-tablet-xlg-inline-block {
      display: inline-block;
    }
  }

  @include max-tablet-lg {
    &-tablet-lg {
      display: block !important;
    }
    &-tablet-lg-inline {
      display: inline;
    }
    &-tablet-lg-inline-block {
      display: inline-block;
    }
  }

  @include max-tablet-sm {
    &-tablet-sm {
      display: block !important;
    }
    &-tablet-sm-inline {
      display: inline;
    }
    &-tablet-sm-inline-block {
      display: inline-block;
    }
  }

  @include max-tablet-xs {
    &-tablet-xs {
      display: block !important;
    }
    &-tablet-xs-inline {
      display: inline;
    }
    &-tablet-xs-inline-block {
      display: inline-block;
    }
  }

  @include max-mobile-xlg {
    &-mobile-xlg {
      display: block !important;
    }
    &-mobile-xlg-inline {
      display: inline;
    }
    &-mobile-xlg-inline-block {
      display: inline-block;
    }
  }

  @include max-mobile-xl {
    &-mobile-xl {
      display: block !important;
    }
    &-mobile-xl-inline {
      display: inline;
    }
    &-mobile-xl-inline-block {
      display: inline-block;
    }
  }

  @include max-mobile-lg {
    &-mobile-lg {
      display: block !important;
    }
    &-mobile-lg-inline {
      display: inline;
    }
    &-mobile-lg-inline-block {
      display: inline-block;
    }
  }

  @include max-mobile-md {
    &-mobile-md {
      display: block !important;
    }
    &-mobile-md-inline {
      display: inline;
    }
    &-mobile-md-inline-block {
      display: inline-block;
    }
  }

  @include max-mobile-xs {
    &-mobile-xs {
      display: block !important;
    }
    &-mobile-xs-inline {
      display: inline;
    }
    &-mobile-xs-inline-block {
      display: inline-block;
    }
  }
}

.hide-in-min {
  @include min-laptop-xlg {
    &-laptop-xlg {
      display: block !important;
    }
    &-laptop-xlg-inline {
      display: inline;
    }
    &-laptop-xlg-inline-block {
      display: inline-block;
    }
  }
  @include min-laptop-lg {
    &-laptop-lg {
      display: block !important;
    }
    &-laptop-lg-inline {
      display: inline;
    }
    &-laptop-lg-inline-block {
      display: inline-block;
    }
  }
  @include min-laptop-md {
    &-laptop-md {
      display: block !important;
    }
    &-laptop-md-inline {
      display: inline;
    }
    &-laptop-md-inline-block {
      display: inline-block;
    }
  }
  @include min-laptop-xs {
    &-laptop-xs {
      display: block !important;
    }
    &-laptop-xs-inline {
      display: inline;
    }
    &-laptop-xs-inline-block {
      display: inline-block;
    }
  }
  @include min-tablet-xlg {
    &-tablet-xlg {
      display: block !important;
    }
    &-tablet-xlg-inline {
      display: inline;
    }
    &-tablet-xlg-inline-block {
      display: inline-block;
    }
  }
  @include min-tablet-lg {
    &-tablet-lg {
      display: block !important;
    }
    &-tablet-lg-inline {
      display: inline;
    }
    &-tablet-lg-inline-block {
      display: inline-block;
    }
  }
  @include min-tablet-sm {
    &-tablet-sm {
      display: block !important;
    }
    &-tablet-sm-inline {
      display: inline;
    }
    &-tablet-sm-inline-block {
      display: inline-block;
    }
  }
  @include min-tablet-xs {
    &-tablet-xs {
      display: block !important;
    }
    &-tablet-xs-inline {
      display: inline;
    }
    &-tablet-xs-inline-block {
      display: inline-block;
    }
  }
  @include min-mobile-xlg {
    &-mobile-xlg {
      display: block !important;
    }
    &-mobile-xlg-inline {
      display: inline;
    }
    &-mobile-xlg-inline-block {
      display: inline-block;
    }
  }
  @include min-mobile-lg {
    &-mobile-lg {
      display: block !important;
    }
    &-mobile-lg-inline {
      display: inline;
    }
    &-mobile-lg-inline-block {
      display: inline-block;
    }
  }
  @include min-mobile-md {
    &-mobile-md {
      display: block !important;
    }
    &-mobile-md-inline {
      display: inline;
    }
    &-mobile-md-inline-block {
      display: inline-block;
    }
  }

  @include min-mobile-xs {
    &-mobile-xs {
      display: block !important;
    }
    &-mobile-xs-inline {
      display: inline;
    }
    &-mobile-xs-inline-block {
      display: inline-block;
    }
  }
}
