.eael-grid-post .eael-entry-wrapper, .eael-grid-post .eael-entry-footer {
  padding-left: 0;
  padding-right: 0;
}

.frontpage {
  &-container_left {
    position: sticky;
    top: 30px;
    height: calc(100vh - 60px);
    @include center-vertically;

    @include max-mobile-xlg {
      height: 100vh;
      position: relative;
      z-index: 1;
      top: 0;
      padding: 0;
    }


    .bg {
      height: 100%;
      background-size: cover;
      background-position: center;
      display: inline-flex;
      align-items: flex-end;

      .bottom {
        padding: 50px 30px 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));

        @include max-mobile-xlg {
          padding: 70px 17px 50px;
        }

        * {
          color: white;
        }

        .title {
          font-size: 5rem;
          line-height: 0.9;
          @include max-mobile-xlg {
            font-size: 3.5rem;
          }
        }
        p {
          font-size: 1.3rem;
          line-height: 1.4;
        }
      }
    }


  }

}