.header {

  width: 100vw;
  padding: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;

  @include max-mobile-xlg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    width: 100vw;
    height: 60px;
  }

  &.change {
    background: white;
  }

  &-branding {
    padding-left: 70px;

    @include max-mobile-xlg {
      position: fixed;
      left: 20px;
      top: 7px;
      z-index: 999;
      padding-left: 0;
    }

    img {
      width: 15px;
      @include max-mobile-xlg {
        width: 12px;
      }
    }
  }

  &-navigation {
    position: absolute;
    right: 60px;
    top: 27px;
    z-index: 999;




    @include max-mobile-xlg {
      height: 100vh;
      width: 70vw;
      position: fixed;
      top: 0;
      right: 0;
      background: white;
      padding-top: 100px;
      transform: translateX(70vw);
      transition: all 0.3s ease-in-out;
      &.change {
        transform: translateX(0);
      }

    }

    .menu-main-container {
      @include max-mobile-xlg {
        width: min-content;
        @include center;
      }
    }

    ul {
      display: inline-flex;
      list-style: none;
      margin-left: -40px;
      width: min-content;
      @include max-mobile-xlg {
        display: block;
        text-align: center;
      }

      li {

        @include max-mobile-xlg {
          margin: 30px 0;
          text-align: left;
        }

        &.current-menu-item {
          a {
            border-bottom: 2px solid black;
          }
        }

        a {
          margin: 0 15px;
          font-weight: 700;
          font-size: 1rem;
          padding-bottom: 5px;
          border-bottom: 2px solid transparent;

          @include max-mobile-xlg {
            font-size: 1.2rem;
          }


          &:hover {
            border-color: black;
          }
        }
      }
    }
  }

  &-toggle {
    position: absolute;
    right: 20px;
    top: 17px;
    z-index: 9999;

    @include min-mobile-xlg {
      display: none !important;
    }

    .menu-wrapper {
      cursor: pointer;
      padding: 11px 0;
      display: inline-block;
      width: 30px;
    }

    .menu-wrapper span, .menu-wrapper span:before, .menu-wrapper span:after {
      content: '';
      height: 2px;
      background-color: #000000;
      width: 100%;
      display: block;

      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: all;
      transition-timing-function: ease;
    }

    .menu-wrapper span {
      position: relative;
    }

    .menu-wrapper span:before {
      position: absolute;
      top: -7px;
    }

    .menu-wrapper span:after {
      position: absolute;
      top: 7px;
    }

    /* Cross effect */
    .menu-wrapper.active .menu-cross {
      transition-duration: 0.1s;
      background: none;
    }

    .menu-wrapper.active .menu-cross:before {
      transform: rotate(45deg);
      top: 0;
    }

    .menu-wrapper.active .menu-cross:after {
      transform: rotate(-45deg);
      top: 0;
    }

    /* Arrow effect */
    .menu-wrapper.active .menu-arrow {
      transition-duration: 0.5s;
      transform: rotate(180deg)
    }

    .menu-wrapper.active .menu-arrow:before {
      top: -3px;
      transform: rotate(30deg);
      width: 12px;
      right: 0;
    }

    .menu-wrapper.active .menu-arrow:after {
      top: 3px;
      transform: rotate(-30deg);
      width: 12px;
      right: 0;
    }

    /* Cross circle effect */
    .menu-wrapper.circle {
      border-radius: 50%;
      transition: 0.5s;
      transition-property: background-color;
    }

    .menu-wrapper.circle.active {
      background: rgba(0, 0, 0, 0.2);
    }

    .menu-wrapper.circle.active .menu-cross {
      transition-duration: 0.1s;
      background-color: none;
    }

    .menu-wrapper.circle.active .menu-cross:before {
      transform: rotate(45deg);
      top: 0;
      width: 18px;
      left: 3px;
    }

    .menu-wrapper.circle.active .menu-cross:after {
      transform: rotate(-45deg);
      top: 0;
      width: 18px;
      left: 3px;
    }

    .menu-wrapper .menu-plus {
      position: relative;
      display: inline-block;
      height: 24px;
      width: 24px;
      background-color: #000000;
      border-radius: 50%;

      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }

    .menu-wrapper .menu-plus:before {
      content: '';
      height: 2px;
      width: 16px;
      background-color: #ffffff;
      position: absolute;
      top: 11px;
      left: 4px;
    }

    .menu-wrapper .menu-plus:after {
      content: '';
      height: 16px;
      width: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 4px;
      left: 11px;
    }

    .menu-wrapper.active .menu-plus:before,
    .menu-wrapper.active .menu-plus:after {
      animation-name: toCross;
    }

    .menu-wrapper.inactive .menu-plus {
      animation-name: toPlus;
    }

    @keyframes toCross {
      0% {
        transform: scale(0, 0);
      }
      50% {
        background-color: red;
      }
      to {
        background-color: yellow;
      }
    }

    @keyframes toPlus {
      from {
        background-color: yellow;
      }
      50% {
        background-color: red;
      }
      to {
        background-color: black;
      }
    }
  }
}