html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch !important; /* Lets it scroll lazy */
}

.site-content {
  padding: 0 70px;
  @include max-mobile-xlg {
    padding: 0;
  }
}